*{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;

}

body {
  background-image: url("../img/kwmt3.jpg");
  background-size: 100% auto;
}
#main{
  margin:0 50px;
  color: black;
}
h1{
    /*font-family: 'Nixie One', cursive;*/
    font-family: 'Heebo', sans-serif;
    font-size: 70px;
    cursor: default;
    -webkit-text-stroke:.5px gray;
    color:white;
}
h2{
  font-size: 40px;
}
ul{
  list-style: none;
  display: inline-block;
  margin-top: 40px;
}
li{
  font-size: 30px;
  cursor: pointer;
}
a:link,a:hover,a:visited{
  text-decoration: none;
  -webkit-text-stroke:.3px gray;
  color:white;
}
.main{
  padding-left: 30px;
}
.back{
  margin-top: 50px;
  font-size: 30px;
  cursor: pointer;
}

.blackboard-img {
  width: 25%;
  height: 200px;
  margin: 0;
  object-fit: cover;
}
.blackboard-img:hover {
  filter:alpha(opacity=50);
  opacity:0.5;
}
