body{
  background-image: url("img2.jpg");
  background-size: cover;
  font-family: "Noto Sans JP", sans-serif;
}
#main{
  margin: 0 100px;
  color: rgb(217, 217, 217);
}
h1{
    /*font-family: 'Nixie One', cursive;*/
    font-family: 'Heebo', sans-serif;
    font-size: 70px;
    cursor: default;
}
h2{
  font-size: 40px;
}
ul{
  list-style: none;
  display: inline-block;
  margin-top: 40px;
}
li{
  font-size: 40px;
  cursor: pointer;
}
a:link,a:hover,a:visited{
  color: rgb(217, 217, 217);
  text-decoration: none;
}
.main{
  padding-left: 30px;
}
.back{
  margin-top: 10px;
  font-size: 30px;
  cursor: pointer;
}
input{
  color: black;
}

.blackboard-img {
  width: 25%;
  height: 200px;
  margin: 0;
  object-fit: cover;
}
.blackboard-img:hover {
  filter:alpha(opacity=50);
  opacity:0.5;
}
