<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Knowledge-view</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">

    <link rel="stylesheet" href="public/css/style.css">

				<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="main">
			<h1><a href="./index.html">Knowledge</a></h1>
			<h2>About</h2>
      <div style="background-color: rgba(255,255,255,0.5)">
        <h3>Knowledgeとは?</h3>
					<p class="main">我々は発見した．学生は居眠りしてしまうものである．
					レポートを仕上げるために徹夜した，ゲームに夢中になってしまって夜更かしした，彼女と電話していて寝ていない．</p>
					<p class="main">理由は個人により様々であるが，授業中一度も寝てしまったことがない学生など万に一としていないのである．</p>
					<p class="main">授業中に眠ってしまうと困ったことが発生する．それは，教員が黒板に書いた板書の内容がわからないことである．</p>
					<p class="main">友達にノートを借りて内容を確認する人もいるかもしれない．しかしそういう時に限って友達も寝ていたりするのである．</p>
					<p class="main">そもそも友達がいない学生はどうすればいいのか．</p>
					<p class="main">そこで我々は板書を自動で撮影・記録し，それを閲覧できるシステムを開発するに至った.</p>
				<h3>Knowledgeの機能</h3>
					<p class="main">◇ Raspberry Piに接続されたカメラで，一定時間おきに黒板を撮影する．</p>
					<p class="main">◇ 画像処理プログラムによって撮影した画像から黒板部分のみを取り出す．</p>
					<p class="main">◇ インターネットに画像をアップロードし，携帯電話等のブラウザから画像を閲覧できるようにする.</p>
      </div>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</body>
</html>
